.board {
    height: 50%;
    width: 50%;
    display: inline-block;
    float: left;
    margin: 8%;
}
.card {
    height: 200px;
    width: 150px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px 38px 50px 38px;
    display:inline-block;
    overflow: auto;
}
h1 {
    color: rgb(2,132,130);
}
h2 {
    color: #ffd700;
}
section {
    text-align: center;
}
.name {
    color: #ff0000;
}
nav {
    background-color: #808080;
    margin: 0;
    overflow: hidden;
    padding: 35px;
}
a {
    background-color: #ffbf00;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;           
 }
 a:hover {
   background-color: #ee5f3c;
 }

 footer {
    background-color: #808080;
    clear: both;
    text-align: center;
 }